services:
  frontend-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development
    working_dir: /app
    ports:
      - "5173:5173"
    environment:
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: unless-stopped
