version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:4001:80"   # Nginx reverse proxy pointe vers 4001
    restart: always
